<h1>Musicians Guide</h1>

<div class = "row mt-3 mb-3">
    <div class = "col">
        <a href ="/venue/new" class="btn btn-outline-primary">New Venue</a>
    </div>
</div>
<% for venue in @venues %>
    <div class = "row">
        <div class = "col">
            <div class = "venuename">
                <h3><a href="/venues/<%= venue[:id]%>"><%=venue[:venue_name]%></a></h3>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-4">
            
            <p>Overall: <%=(@reviews_table.where(venue_id: venue[:id]).avg(:overall_rating)).round(2)%>/5
            <% if @reviews_table.where(venue_id: venue[:id]).avg(:overall_rating) >= 3.5%>
                <i class="fas fa-smile"></i>
            <% elsif @reviews_table.where(venue_id: venue[:id]).avg(:overall_rating) >= 2.5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        </div>
        <div class = "col-md-4"
            <p>Booking Email: <%=venue[:email]%></p>
        </div>
        <div class = "col-md-4"
            <p>Website: <a href="<%venue[:website]%>"><%=venue[:website]%></a></p>
        </div>
    </div>

<% end %>